body {
  
    font-family: Arial, Helvetica, sans-serif;
}
.jumbotron.jumbotron-fluid {
    text-align: center;
    padding: 10px;
    background: green;
    margin-top: 1%;
}
.display-4{
    text-align: center;
    color: white;
}
.container{
    width: 90%;
    height: 600px;
    margin: auto;
    padding: 0;
    border: 5px solid black;
    background: green;
    text-align: center;
    font-size: 40px;
    color: white;

 
}
.answer{
  display: inline-block;
  text-align: center;
  line-height: 1.5;
}
.answer button {
background: green;
border: 0;
display: block;
color: white;


}

.answer button:hover {
    background-color: grey;
  }

#correctAnswerRevealed{
    text-align: center;
}
#answerImage{
    
       
        width:250px;
        height:250px;
      
     
}

#startButton{
    background: darkblue;
    color: white;
    width: 50%;
    margin-top: 20%;
}
/* #timeRemaining{
    font-size: 45px;
    color: white;
}
.question{
    font-size: 45px;
    color: white;
}
.answer{
    font-size: 40px;
    color: white;
} */


